*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

#navbar{
  overflow: hidden;
  background: linear-gradient(20deg, #000, #6170cf, #ffeb3b, #03a9f4);
  background-size: 100%;
  backdrop-filter: blur(50px);
  padding: 1.3rem 10%;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  text-align: left;
}
 
#navbar a{
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 14px; 
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  border-radius: 4px;
}

#navbar #logo{
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}
 
#navbar a:hover{
  background-color: dodgerblue;
  border-bottom: 3px solid white;
}
 
#navbar-right{
  float: right;
}
